<%= render :partial => 'common/top_menu' %>

<% form_tag :action => 'download' do %>
	<fieldset>
		<p>Chemin du fichier à télécharger : <%= text_field_tag :chemin %>&nbsp;<%= submit_tag 'Télécharger' %></p>
	</fieldset>
<% end %>
