<%= render :partial => 'common/top_menu' %>

<% form_tag :action => 'show' do %>
	<fieldset>
		<p>Nom de la classe <b>constante</b> : <%= text_field_tag :nom_objet %>&nbsp;<%= submit_tag 'Inspecter' %></p>
	</fieldset>
<% end %>
