<html>
<head>
	<title>Pages d'admin</title>
	<meta content="">
	<style></style>
</head>
<body>
	<a href="admin/inflexions">Liste des inflexions</a><br/>
	<a href="admin/dev_infos">Infos de developpement</a><br/>
	<a href="admin/routes_infos">Liste des routes</a><br/>
	<a href="processus/liste_refreshed">Liste des processus du serveur</a><br/>
	<a href="admin/processus_liste">Liste des processus du serveur (metal)</a><br/>
	<a href="admin/commands">Execution de commandes shell</a><br/>
</body>
</html>