<!-- inclus => pas besoin du body -->
Version de Rails: <%= Rails::VERSION::STRING %><br/>
<br/>

Listes :<br/>
<a href="admin/inflexions">Liste des inflexions</a><br/>
<a href="admin/translations">Liste des traductions</a><br/>
<a href="admin/routes">Liste des routes</a><br/>
<a href="admin/gems">Liste des gems</a><br/>
<br/>

Processus :<br/>
<a href="processus/liste_refreshed">Liste des processus du serveur</a><br/>
<a href="admin/processus_liste">Liste des processus du serveur (metal)</a><br/>
<br/>

Infos de dev :<br/>
<a href="admin/dev_infos">Infos de developpement</a><br/>
<a href="admin/url_infos">Infos Url</a><br/>
<br/>

Outils :<br/>
<a href="admin/commands">Execution de commandes shell</a><br/>
<a href="admin/send_file">Télécharger un fichier sur le serveur</a><br/>
