<table border="2">
<thead>
	<th colspan="4">Gems</th>
</thead>
<%
	Rails.configuration.gems.each_with_index { |g, i|
%>
<tr>
	<td><%= i %></td><td><%= g.specification %></td><td><%= g.source %></td><td><%= g.dep %></td>
</tr>
<% } %>

</table>
