<%= link_to 'Retour au menu', :controller => :admin_menu %><br/>
<br/>
<%= link_to 'Autre', new_command_path %> |
<%= link_to 'Historique des commandes', commands_path %>

<p>
  <b>Execute:</b>
  <%=h @command.execute %>
</p>

